@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

*:focus {
  outline: 0;
}

.neu-02 {
  background-color: #F5F5F6;
}

.neu-03 {
  background-color: #ECEDEE;
}

.neu-04 {
  background-color: #E0E0E2;
}

.neu-05 {
  background-color: #CECFD2;
}

.neu-06 {
  background-color: #B4B4BA;
}

.neu-07 {
  background-color: #7F8088;
}

.neu-08 {
  background-color: #5C5C66;
}

.neu-09 {
  background-color: #363842;
}

section,
header {
  -webkit-transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

section .anime,
header .anime {
  -webkit-transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  transition: opacity 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94), -webkit-transform 0.4s cubic-bezier(0.48, 0.14, 0.27, 0.94);
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

section .anime:nth-child(1),
header .anime:nth-child(1) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section .anime:nth-child(2),
header .anime:nth-child(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

section .anime:nth-child(3),
header .anime:nth-child(3) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

section .anime:nth-child(4),
header .anime:nth-child(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

section .anime:nth-child(5),
header .anime:nth-child(5) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

section .anime:nth-child(6),
header .anime:nth-child(6) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

section .anime:nth-child(7),
header .anime:nth-child(7) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

section .anime:nth-child(8),
header .anime:nth-child(8) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

section .anime:nth-child(9),
header .anime:nth-child(9) {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

section .anime:nth-child(10),
header .anime:nth-child(10) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

section .anime:nth-child(11),
header .anime:nth-child(11) {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

section .anime:nth-child(12),
header .anime:nth-child(12) {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

section .anime:nth-child(13),
header .anime:nth-child(13) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

section .anime:nth-child(14),
header .anime:nth-child(14) {
  -webkit-transition-delay: 3.2s;
          transition-delay: 3.2s;
}

section .anime:nth-child(15),
header .anime:nth-child(15) {
  -webkit-transition-delay: 3.4s;
          transition-delay: 3.4s;
}

section .anime:nth-child(16),
header .anime:nth-child(16) {
  -webkit-transition-delay: 3.6s;
          transition-delay: 3.6s;
}

section .anime:nth-child(17),
header .anime:nth-child(17) {
  -webkit-transition-delay: 3.8s;
          transition-delay: 3.8s;
}

section .anime:nth-child(18),
header .anime:nth-child(18) {
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

section .anime:nth-child(19),
header .anime:nth-child(19) {
  -webkit-transition-delay: 4.2s;
          transition-delay: 4.2s;
}

section .anime:nth-child(20),
header .anime:nth-child(20) {
  -webkit-transition-delay: 4.4s;
          transition-delay: 4.4s;
}

section .anime:nth-child(21),
header .anime:nth-child(21) {
  -webkit-transition-delay: 4.6s;
          transition-delay: 4.6s;
}

section .anime:nth-child(22),
header .anime:nth-child(22) {
  -webkit-transition-delay: 4.8s;
          transition-delay: 4.8s;
}

section .anime:nth-child(23),
header .anime:nth-child(23) {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

section .anime:nth-child(24),
header .anime:nth-child(24) {
  -webkit-transition-delay: 5.2s;
          transition-delay: 5.2s;
}

section .anime:nth-child(25),
header .anime:nth-child(25) {
  -webkit-transition-delay: 5.4s;
          transition-delay: 5.4s;
}

section .anime:nth-child(26),
header .anime:nth-child(26) {
  -webkit-transition-delay: 5.6s;
          transition-delay: 5.6s;
}

section .anime:nth-child(27),
header .anime:nth-child(27) {
  -webkit-transition-delay: 5.8s;
          transition-delay: 5.8s;
}

section .anime:nth-child(28),
header .anime:nth-child(28) {
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
}

section .anime:nth-child(29),
header .anime:nth-child(29) {
  -webkit-transition-delay: 6.2s;
          transition-delay: 6.2s;
}

section .anime:nth-child(30),
header .anime:nth-child(30) {
  -webkit-transition-delay: 6.4s;
          transition-delay: 6.4s;
}

section .anime:nth-child(31),
header .anime:nth-child(31) {
  -webkit-transition-delay: 6.6s;
          transition-delay: 6.6s;
}

section .anime:nth-child(32),
header .anime:nth-child(32) {
  -webkit-transition-delay: 6.8s;
          transition-delay: 6.8s;
}

section .anime:nth-child(33),
header .anime:nth-child(33) {
  -webkit-transition-delay: 7s;
          transition-delay: 7s;
}

section .anime:nth-child(34),
header .anime:nth-child(34) {
  -webkit-transition-delay: 7.2s;
          transition-delay: 7.2s;
}

section .anime:nth-child(35),
header .anime:nth-child(35) {
  -webkit-transition-delay: 7.4s;
          transition-delay: 7.4s;
}

section .anime:nth-child(36),
header .anime:nth-child(36) {
  -webkit-transition-delay: 7.6s;
          transition-delay: 7.6s;
}

section .anime:nth-child(37),
header .anime:nth-child(37) {
  -webkit-transition-delay: 7.8s;
          transition-delay: 7.8s;
}

section .anime:nth-child(38),
header .anime:nth-child(38) {
  -webkit-transition-delay: 8s;
          transition-delay: 8s;
}

section .anime:nth-child(39),
header .anime:nth-child(39) {
  -webkit-transition-delay: 8.2s;
          transition-delay: 8.2s;
}

section .anime:nth-child(40),
header .anime:nth-child(40) {
  -webkit-transition-delay: 8.4s;
          transition-delay: 8.4s;
}

section .anime:nth-child(41),
header .anime:nth-child(41) {
  -webkit-transition-delay: 8.6s;
          transition-delay: 8.6s;
}

section .anime:nth-child(42),
header .anime:nth-child(42) {
  -webkit-transition-delay: 8.8s;
          transition-delay: 8.8s;
}

section .anime:nth-child(43),
header .anime:nth-child(43) {
  -webkit-transition-delay: 9s;
          transition-delay: 9s;
}

section .anime:nth-child(44),
header .anime:nth-child(44) {
  -webkit-transition-delay: 9.2s;
          transition-delay: 9.2s;
}

section .anime:nth-child(45),
header .anime:nth-child(45) {
  -webkit-transition-delay: 9.4s;
          transition-delay: 9.4s;
}

section .anime:nth-child(46),
header .anime:nth-child(46) {
  -webkit-transition-delay: 9.6s;
          transition-delay: 9.6s;
}

section .anime:nth-child(47),
header .anime:nth-child(47) {
  -webkit-transition-delay: 9.8s;
          transition-delay: 9.8s;
}

section .anime:nth-child(48),
header .anime:nth-child(48) {
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
}

section .anime:nth-child(49),
header .anime:nth-child(49) {
  -webkit-transition-delay: 10.2s;
          transition-delay: 10.2s;
}

section .anime:nth-child(50),
header .anime:nth-child(50) {
  -webkit-transition-delay: 10.4s;
          transition-delay: 10.4s;
}

section .anime:nth-child(51),
header .anime:nth-child(51) {
  -webkit-transition-delay: 10.6s;
          transition-delay: 10.6s;
}

section .anime:nth-child(52),
header .anime:nth-child(52) {
  -webkit-transition-delay: 10.8s;
          transition-delay: 10.8s;
}

section .anime:nth-child(53),
header .anime:nth-child(53) {
  -webkit-transition-delay: 11s;
          transition-delay: 11s;
}

section .anime:nth-child(54),
header .anime:nth-child(54) {
  -webkit-transition-delay: 11.2s;
          transition-delay: 11.2s;
}

section .anime:nth-child(55),
header .anime:nth-child(55) {
  -webkit-transition-delay: 11.4s;
          transition-delay: 11.4s;
}

section .anime:nth-child(56),
header .anime:nth-child(56) {
  -webkit-transition-delay: 11.6s;
          transition-delay: 11.6s;
}

section .anime:nth-child(57),
header .anime:nth-child(57) {
  -webkit-transition-delay: 11.8s;
          transition-delay: 11.8s;
}

section .anime:nth-child(58),
header .anime:nth-child(58) {
  -webkit-transition-delay: 12s;
          transition-delay: 12s;
}

section .anime:nth-child(59),
header .anime:nth-child(59) {
  -webkit-transition-delay: 12.2s;
          transition-delay: 12.2s;
}

section .anime:nth-child(60),
header .anime:nth-child(60) {
  -webkit-transition-delay: 12.4s;
          transition-delay: 12.4s;
}

section .anime:nth-child(61),
header .anime:nth-child(61) {
  -webkit-transition-delay: 12.6s;
          transition-delay: 12.6s;
}

section .anime:nth-child(62),
header .anime:nth-child(62) {
  -webkit-transition-delay: 12.8s;
          transition-delay: 12.8s;
}

section .anime:nth-child(63),
header .anime:nth-child(63) {
  -webkit-transition-delay: 13s;
          transition-delay: 13s;
}

section .anime:nth-child(64),
header .anime:nth-child(64) {
  -webkit-transition-delay: 13.2s;
          transition-delay: 13.2s;
}

section .anime:nth-child(65),
header .anime:nth-child(65) {
  -webkit-transition-delay: 13.4s;
          transition-delay: 13.4s;
}

section .anime:nth-child(66),
header .anime:nth-child(66) {
  -webkit-transition-delay: 13.6s;
          transition-delay: 13.6s;
}

section .anime:nth-child(67),
header .anime:nth-child(67) {
  -webkit-transition-delay: 13.8s;
          transition-delay: 13.8s;
}

section .anime:nth-child(68),
header .anime:nth-child(68) {
  -webkit-transition-delay: 14s;
          transition-delay: 14s;
}

section .anime:nth-child(69),
header .anime:nth-child(69) {
  -webkit-transition-delay: 14.2s;
          transition-delay: 14.2s;
}

section .anime:nth-child(70),
header .anime:nth-child(70) {
  -webkit-transition-delay: 14.4s;
          transition-delay: 14.4s;
}

section .anime:nth-child(71),
header .anime:nth-child(71) {
  -webkit-transition-delay: 14.6s;
          transition-delay: 14.6s;
}

section .anime:nth-child(72),
header .anime:nth-child(72) {
  -webkit-transition-delay: 14.8s;
          transition-delay: 14.8s;
}

section .anime:nth-child(73),
header .anime:nth-child(73) {
  -webkit-transition-delay: 15s;
          transition-delay: 15s;
}

section .anime:nth-child(74),
header .anime:nth-child(74) {
  -webkit-transition-delay: 15.2s;
          transition-delay: 15.2s;
}

section .anime:nth-child(75),
header .anime:nth-child(75) {
  -webkit-transition-delay: 15.4s;
          transition-delay: 15.4s;
}

section .anime:nth-child(76),
header .anime:nth-child(76) {
  -webkit-transition-delay: 15.6s;
          transition-delay: 15.6s;
}

section .anime:nth-child(77),
header .anime:nth-child(77) {
  -webkit-transition-delay: 15.8s;
          transition-delay: 15.8s;
}

section .anime:nth-child(78),
header .anime:nth-child(78) {
  -webkit-transition-delay: 16s;
          transition-delay: 16s;
}

section .anime:nth-child(79),
header .anime:nth-child(79) {
  -webkit-transition-delay: 16.2s;
          transition-delay: 16.2s;
}

section .anime:nth-child(80),
header .anime:nth-child(80) {
  -webkit-transition-delay: 16.4s;
          transition-delay: 16.4s;
}

section .anime:nth-child(81),
header .anime:nth-child(81) {
  -webkit-transition-delay: 16.6s;
          transition-delay: 16.6s;
}

section .anime:nth-child(82),
header .anime:nth-child(82) {
  -webkit-transition-delay: 16.8s;
          transition-delay: 16.8s;
}

section .anime:nth-child(83),
header .anime:nth-child(83) {
  -webkit-transition-delay: 17s;
          transition-delay: 17s;
}

section .anime:nth-child(84),
header .anime:nth-child(84) {
  -webkit-transition-delay: 17.2s;
          transition-delay: 17.2s;
}

section .anime:nth-child(85),
header .anime:nth-child(85) {
  -webkit-transition-delay: 17.4s;
          transition-delay: 17.4s;
}

section .anime:nth-child(86),
header .anime:nth-child(86) {
  -webkit-transition-delay: 17.6s;
          transition-delay: 17.6s;
}

section .anime:nth-child(87),
header .anime:nth-child(87) {
  -webkit-transition-delay: 17.8s;
          transition-delay: 17.8s;
}

section .anime:nth-child(88),
header .anime:nth-child(88) {
  -webkit-transition-delay: 18s;
          transition-delay: 18s;
}

section .anime:nth-child(89),
header .anime:nth-child(89) {
  -webkit-transition-delay: 18.2s;
          transition-delay: 18.2s;
}

section .anime:nth-child(90),
header .anime:nth-child(90) {
  -webkit-transition-delay: 18.4s;
          transition-delay: 18.4s;
}

section .anime:nth-child(91),
header .anime:nth-child(91) {
  -webkit-transition-delay: 18.6s;
          transition-delay: 18.6s;
}

section .anime:nth-child(92),
header .anime:nth-child(92) {
  -webkit-transition-delay: 18.8s;
          transition-delay: 18.8s;
}

section .anime:nth-child(93),
header .anime:nth-child(93) {
  -webkit-transition-delay: 19s;
          transition-delay: 19s;
}

section .anime:nth-child(94),
header .anime:nth-child(94) {
  -webkit-transition-delay: 19.2s;
          transition-delay: 19.2s;
}

section .anime:nth-child(95),
header .anime:nth-child(95) {
  -webkit-transition-delay: 19.4s;
          transition-delay: 19.4s;
}

section .anime:nth-child(96),
header .anime:nth-child(96) {
  -webkit-transition-delay: 19.6s;
          transition-delay: 19.6s;
}

section .anime:nth-child(97),
header .anime:nth-child(97) {
  -webkit-transition-delay: 19.8s;
          transition-delay: 19.8s;
}

section .anime:nth-child(98),
header .anime:nth-child(98) {
  -webkit-transition-delay: 20s;
          transition-delay: 20s;
}

section .anime:nth-child(99),
header .anime:nth-child(99) {
  -webkit-transition-delay: 20.2s;
          transition-delay: 20.2s;
}

section .anime:nth-child(100),
header .anime:nth-child(100) {
  -webkit-transition-delay: 20.4s;
          transition-delay: 20.4s;
}

.animeModules {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animeModules .anime {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 799px) {
  .ctaContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cta {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 32px;
  height: 48px;
  border-radius: 4px;
}

.cta:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.cta.cta01 {
  background-color: #5C5C66;
  color: white;
}

.cta.cta01alt {
  background-color: white;
  color: #5C5C66;
}

.cta.cta02 {
  border: solid 1px #5C5C66;
  color: #5C5C66;
}

.cta.cta02alt {
  border: solid 1px white;
  color: white;
}

.ctaLink {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaLink__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.ctaLink__text {
  position: relative;
}

.ctaLink__text:before, .ctaLink__text:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #5C5C66;
}

.ctaLink__text:after {
  left: 0;
  width: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.ctaLink:hover .ctaLink__text:before {
  width: 0;
}

.ctaLink:hover .ctaLink__text:after {
  width: 100%;
}

.infoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.infoIcon:last-child {
  margin-bottom: 0;
}

.infoIcon__icon {
  width: 80px;
  min-width: 80px;
  height: 80px;
  margin-right: 32px;
}

@media screen and (max-width: 799px) {
  .infoIcon__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 24px;
  }
}

.infoIcon__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoIcon__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoIcon__title {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .infoIcon__title {
    margin-top: 16px;
  }
}

.infoIcon__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .infoIcon__title {
    font-size: 18px;
    line-height: 28px;
  }
}

.infoIcon__description {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 799px) {
  .infoIcon__description {
    margin-top: 16px;
  }
}

.infoIcon__description:first-child {
  margin-top: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.swiper-slide figure {
  width: 100%;
}

.swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 10px;
  height: 10px;
  margin: 0px 8px !important;
  background-color: #5C5C66;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: #5C5C66;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 799px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev {
  left: 5%;
}

.swiper-button-prev:after {
  background-image: url("../assets/icons-black/icon-5.svg");
}

.swiper-button-prev:hover:after {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.swiper-button-next {
  right: 5%;
}

.swiper-button-next:after {
  background-image: url("../assets/icons-black/icon-12.svg");
}

.swiper-button-next:hover:after {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.white .swiper-pagination {
  bottom: 24px;
}

.white .swiper-pagination-bullet {
  background-color: white;
}

.white .swiper-pagination-bullet-active {
  background-color: white;
}

.white .swiper-button-prev:after {
  background-image: url("../assets/icons-white/icon-5.svg");
}

.white .swiper-button-next:after {
  background-image: url("../assets/icons-white/icon-12.svg");
}

.mainNav {
  padding-left: 5%;
  padding-right: 5%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
}

@media screen and (max-width: 511px) {
  .mainNav {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.mainNav:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0px 8px 20px -20px #363842;
          box-shadow: 0px 8px 20px -20px #363842;
  z-index: -1;
  opacity: 0;
}

.mainNav__logo {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.mainNav__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 799px) {
  .mainNav__logo {
    width: 80px;
  }
}

.mainNav__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 799px) {
  .mainNav__wrapper {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #5C5C66;
    padding: 0 10%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
  }
}

.mainNav__icon {
  width: 32px;
  height: 32px;
  display: none;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mainNav__icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.mainNav__icon span:before, .mainNav__icon span:after {
  content: '';
  width: 32px;
  height: 100%;
  position: absolute;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.mainNav__icon span:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.mainNav__icon span:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.mainNav__links {
  color: white;
}

@media screen and (max-width: 799px) {
  .mainNav__links {
    display: none;
  }
}

.mainNav__linkItem {
  margin-right: 64px;
}

.mainNav__linkItem:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 799px) {
  .mainNav__linkItem {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .mainNav__linkItem:last-child {
    margin-bottom: 0px;
  }
}

.mainNav.navSticky {
  height: 72px;
}

@media screen and (max-width: 799px) {
  .mainNav.navSticky {
    height: 64px;
  }
}

.mainNav.navSticky:before {
  opacity: 1;
  top: 0;
}

.mainNav.navSticky .mainNav__logo {
  width: 80px;
}

.mainNav.navSticky .mainNav__links {
  color: #5C5C66;
}

.mainNav.navSticky .mainNav__icon span {
  background-color: #5C5C66;
}

.mainNav.navOpen .mainNav__icon span {
  background-color: #ffffff;
  width: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mainNav.navOpen .mainNav__icon span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mainNav.navOpen .mainNav__icon span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mainNav.navOpen .mainNav__wrapper {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.mainNav.navOpen .mainNav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.mainNav.navDark .mainNav__links {
  color: #5C5C66;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #363842;
  width: 100%;
  height: 80px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 511px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.footer__link {
  margin-right: 32px;
}

.footer__link:last-child {
  margin-right: 0;
}

body {
  font-family: "Muli", sans-serif;
  color: #363842;
}

.cenas {
  height: 200vh;
}

.simpleHeading {
  min-height: 520px;
  background-color: #5C5C66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.simpleHeading__bgImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.simpleHeading__bgImage:before, .simpleHeading__bgImage:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}

.simpleHeading__bgImage:after {
  background-color: #363842;
  opacity: 0.5;
}

.simpleHeading__bgImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.simpleHeading__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

@media screen and (max-width: 511px) {
  .simpleHeading__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.simpleHeading__title {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
}

@media screen and (max-width: 799px) {
  .simpleHeading__title {
    margin-top: 32px;
  }
}

.simpleHeading__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .simpleHeading__title {
    font-size: 40px;
    line-height: 48px;
  }
}

.simpleHeading__subtitle {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

@media screen and (max-width: 799px) {
  .simpleHeading__subtitle {
    margin-top: 32px;
  }
}

.simpleHeading__subtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .simpleHeading__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}

.simpleHeading__description {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .simpleHeading__description {
    margin-top: 16px;
  }
}

.simpleHeading__description:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .simpleHeading__description {
    font-size: 18px;
    line-height: 28px;
  }
}

.sliderHeading {
  height: 670px;
}

@media screen and (max-width: 799px) {
  .sliderHeading {
    height: 680px;
  }
}

.sliderHeading .swiper-container {
  height: calc(100% - 100px);
  margin-top: 100px;
}

@media screen and (max-width: 799px) {
  .sliderHeading .swiper-pagination {
    bottom: 80px;
  }
}

.sliderHeading__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 511px) {
  .sliderHeading__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 799px) {
  .sliderHeading__wrapper {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sliderHeading__image {
  height: 100%;
}

.sliderHeading__text {
  width: 40%;
  position: relative;
  padding: 48px 48px 48px 0px;
  padding-top: calc(48px + 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 799px) {
  .sliderHeading__text {
    width: 100%;
    padding: 32px;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    z-index: 2;
  }
}

.sliderHeading__text:before {
  content: '';
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5vw;
  background-color: #ECEDEE;
  z-index: -1;
}

@media screen and (max-width: 799px) {
  .sliderHeading__text:before {
    z-index: 1;
    width: 100%;
  }
}

.sliderHeading__arrows {
  right: 0px;
  bottom: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sliderHeading__arrows .swiper-button-prev,
.sliderHeading__arrows .swiper-button-next {
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  position: initial;
  width: 72px;
  height: 72px;
  background-color: #B4B4BA;
  z-index: 1;
}

.sliderHeading__arrows .swiper-button-prev:last-child,
.sliderHeading__arrows .swiper-button-next:last-child {
  background-color: #7F8088;
}

.sliderHeading__arrows .swiper-button-prev:after,
.sliderHeading__arrows .swiper-button-next:after {
  width: 32px;
  height: 32px;
  color: transparent;
}

@media screen and (max-width: 799px) {
  .sliderHeading__arrows {
    display: none;
  }
}

.sliderHeading__title {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
  z-index: 1;
}

@media screen and (max-width: 799px) {
  .sliderHeading__title {
    margin-top: 32px;
  }
}

.sliderHeading__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .sliderHeading__title {
    font-size: 40px;
    line-height: 48px;
  }
}

.sliderHeading__subtitle {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  z-index: 1;
}

@media screen and (max-width: 799px) {
  .sliderHeading__subtitle {
    margin-top: 16px;
  }
}

.sliderHeading__subtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .sliderHeading__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

.highlightSlider {
  height: 600px;
}

@media screen and (max-width: 799px) {
  .highlightSlider {
    height: 480px;
  }
}

.highlightSlider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.highlightSlider__wrapper {
  height: 100%;
  position: relative;
}

.highlightSlider__image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.highlightSlider__image:before, .highlightSlider__image:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}

.highlightSlider__image:after {
  background-color: #363842;
  opacity: 0.5;
}

.highlightSlider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.highlightSlider__text {
  max-width: 800px;
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
  padding-left: calc(5% + 48px);
  padding-right: calc(5% + 48px);
}

@media screen and (max-width: 799px) {
  .highlightSlider__text {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 799px) and (max-width: 511px) {
  .highlightSlider__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.highlightSlider__title {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

@media screen and (max-width: 799px) {
  .highlightSlider__title {
    margin-top: 32px;
  }
}

.highlightSlider__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .highlightSlider__title {
    font-size: 28px;
    line-height: 36px;
  }
}

.highlightSlider__description {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .highlightSlider__description {
    margin-top: 16px;
  }
}

.highlightSlider__description:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .highlightSlider__description {
    font-size: 18px;
    line-height: 28px;
  }
}

.productSlider {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F5F5F6;
}

@media screen and (max-width: 799px) {
  .productSlider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.productSlider__heading {
  text-align: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 799px) {
  .productSlider__heading {
    margin-bottom: 40px;
  }
}

.productSlider__moduleTitle {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

@media screen and (max-width: 799px) {
  .productSlider__moduleTitle {
    margin-top: 32px;
  }
}

.productSlider__moduleTitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .productSlider__moduleTitle {
    font-size: 28px;
    line-height: 36px;
  }
}

.productSlider__moduleSubtitle {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .productSlider__moduleSubtitle {
    margin-top: 16px;
  }
}

.productSlider__moduleSubtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .productSlider__moduleSubtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

.productSlider .swiper-wrapper {
  padding-bottom: 24px;
}

.productSlider .swiper-button-prev {
  left: -32px;
}

.productSlider .swiper-button-next {
  right: -32px;
}

.productSlider .swiper-pagination {
  display: none;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 799px) {
  .productSlider .swiper-pagination {
    display: block;
  }
}

.productSlider__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 511px) {
  .productSlider__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.productSlider__sliderContainer {
  position: relative;
  padding: 0 40px;
}

@media screen and (max-width: 799px) {
  .productSlider__sliderContainer {
    padding: 0px;
    padding-bottom: 40px;
  }
}

.productSlider__slider {
  padding: 0 2px;
}

.productSlider__image {
  width: 100%;
  height: 150px;
  top: 0;
}

.productSlider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productSlider__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.productSlider__productTitle {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .productSlider__productTitle {
    margin-top: 16px;
  }
}

.productSlider__productTitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .productSlider__productTitle {
    font-size: 18px;
    line-height: 28px;
  }
}

.productSlider__productSubtitle {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 799px) {
  .productSlider__productSubtitle {
    margin-top: 16px;
  }
}

.productSlider__productSubtitle:first-child {
  margin-top: 0;
}

.productSlider__link {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  bottom: 24px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media screen and (max-width: 799px) {
  .productSlider__link {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.productSlider__card {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #CECFD2;
  -webkit-box-shadow: 0px 8px 20px -20px #363842;
          box-shadow: 0px 8px 20px -20px #363842;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.productSlider__card:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 10px -10px #363842;
          box-shadow: 0px 0px 10px -10px #363842;
}

@media screen and (max-width: 799px) {
  .productSlider__card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 8px 20px -20px #363842;
            box-shadow: 0px 8px 20px -20px #363842;
  }
}

.productSlider__card:hover .productSlider__link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.contentTabs {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F5F5F6;
}

@media screen and (max-width: 799px) {
  .contentTabs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contentTabs__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 511px) {
  .contentTabs__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 799px) {
  .contentTabs__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentTabs__tabList {
  width: 50%;
  position: relative;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabList {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 511px) {
  .contentTabs__tabList {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentTabs__tabLink {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  cursor: pointer;
  padding: 0 32px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 2px solid #E0E0E2;
  background-color: white;
  width: 80%;
  margin-top: 0 !important;
  margin-bottom: 32px;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink {
    margin-top: 16px;
  }
}

.contentTabs__tabLink:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink {
    font-size: 18px;
    line-height: 28px;
  }
}

.contentTabs__tabLink:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    margin-right: 16px;
  }
  .contentTabs__tabLink:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 511px) {
  .contentTabs__tabLink {
    margin-bottom: 8px;
  }
}

.contentTabs__tabLink.active {
  opacity: 1;
  border: 2px solid #B4B4BA;
}

.contentTabs__tabLink.active:before {
  opacity: 1;
  -webkit-transform: translatex(0px);
          transform: translatex(0px);
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink.active:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.contentTabs__tabLink.active:hover {
  padding: 0 32px;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink.active:hover {
    padding: 0 16px;
  }
}

.contentTabs__tabLink:hover {
  border: 2px solid #B4B4BA;
  padding: 0 40px;
}

@media screen and (max-width: 799px) {
  .contentTabs__tabLink:hover {
    padding: 0 16px;
  }
}

.contentTabs__content {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 50%;
  height: 0px;
}

@media screen and (max-width: 799px) {
  .contentTabs__content {
    width: 100%;
  }
}

.contentTabs__tabContent {
  display: none;
}

.contentTabs__tabContent.active {
  -webkit-animation: enter 0.4s 0.2s ease backwards;
          animation: enter 0.4s 0.2s ease backwards;
  display: block;
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.contentTabs__download {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
}

@media screen and (max-width: 511px) {
  .contentTabs__download {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 799px) {
  .contentTabs__download {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

.ctaBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ctaBlock__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 320px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 799px) {
  .ctaBlock__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.ctaBlock__bgImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ctaBlock__bgImage:before, .ctaBlock__bgImage:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}

.ctaBlock__bgImage:after {
  background-color: #363842;
  opacity: 0.5;
}

.ctaBlock__bgImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ctaBlock__content {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  margin: 0 auto;
}

@media screen and (max-width: 511px) {
  .ctaBlock__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ctaBlock__title {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

@media screen and (max-width: 799px) {
  .ctaBlock__title {
    margin-top: 32px;
  }
}

.ctaBlock__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .ctaBlock__title {
    font-size: 28px;
    line-height: 36px;
  }
}

.ctaBlock__subtitle {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .ctaBlock__subtitle {
    margin-top: 16px;
  }
}

.ctaBlock__subtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .ctaBlock__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

.ctaBlock__description {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 799px) {
  .ctaBlock__description {
    margin-top: 16px;
  }
}

.ctaBlock__description:first-child {
  margin-top: 0;
}

.ctaBlock.dual {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 511px) {
  .ctaBlock.dual {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.ctaBlock.dual .ctaBlock__wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentMedia {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 799px) {
  .contentMedia {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contentMedia__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 511px) {
  .contentMedia__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 799px) {
  .contentMedia__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentMedia__image {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 799px) {
  .contentMedia__image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contentMedia__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 799px) {
  .contentMedia__image img {
    width: 100vw;
  }
}

.contentMedia__content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5C5C66;
  z-index: 1;
}

@media screen and (max-width: 799px) {
  .contentMedia__content {
    width: 100%;
    margin-top: 32px;
  }
}

.contentMedia__title {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

@media screen and (max-width: 799px) {
  .contentMedia__title {
    margin-top: 32px;
  }
}

.contentMedia__title:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .contentMedia__title {
    font-size: 28px;
    line-height: 36px;
  }
}

.contentMedia__subtitle {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

@media screen and (max-width: 799px) {
  .contentMedia__subtitle {
    margin-top: 16px;
  }
}

.contentMedia__subtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width: 799px) {
  .contentMedia__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

.contentMedia__description {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 799px) {
  .contentMedia__description {
    margin-top: 16px;
  }
}

.contentMedia__description:first-child {
  margin-top: 0;
}

.contentMedia.right .contentMedia__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 799px) {
  .contentMedia.right .contentMedia__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 799px) {
  .contentMedia.right .contentMedia__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 799px) {
  .contentMedia.right .contentMedia__image img {
    width: 100vw;
  }
}

.contentMedia.vertical {
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 511px) {
  .contentMedia.vertical {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.contentMedia.vertical .contentMedia__wrapper {
  padding: 0;
  max-width: 1024px;
}

.contentMedia.vertical .contentMedia__image {
  width: 40%;
}

@media screen and (max-width: 799px) {
  .contentMedia.vertical .contentMedia__image {
    width: 100%;
  }
}

.contentMedia.vertical .contentMedia__content {
  width: 50%;
}

@media screen and (max-width: 799px) {
  .contentMedia.vertical .contentMedia__content {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */