body {
    font-family: $font;
    color: $neu-09;
}

.cenas {
    height: 200vh;
}



.simpleHeading {
    min-height: 520px;
    background-color: $neu-08;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__bgImage {
        @include overlay;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper {
        @include wrapper;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 1;
    }

    &__title {
        @include font-xl;
    }

    &__subtitle {
        @include font-l;
    }

    &__description {
        @include font-m;
    }


}

.sliderHeading {
    height: 670px;

    @include sm {
        height: 680px;
    }

    .swiper-container {
        height: calc(100% - 100px);
        margin-top: 100px;
    }

    .swiper-pagination {
        @include sm {
            bottom: 80px;
        }
    }

    &__wrapper {
        @include paddingSide;
        display: flex;
        height: 100%;

        @include sm {
            padding: 0;
            flex-direction: column-reverse;

        }
    }

    &__text {
        width: 40%;
        position: relative;
        padding: 48px 48px 48px 0px;
        padding-top: calc(48px + 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @include sm {
            width: 100%;
            padding: 32px;
            transform: translateY(-60px);
            z-index: 2;
        }

        &:before {
            content: '';
            width: 50vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: -5vw;
            background-color: $neu-03;
            z-index: -1;

            @include sm {
                z-index: 1;
                width: 100%;
            }
        }
    }

    &__arrows {
        right: 0px;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: column;

        .swiper-button-prev,
        .swiper-button-next {
            top: initial;
            bottom: initial;
            left: initial;
            right: initial;
            position: initial;
            width: 72px;
            height: 72px;
            background-color: $neu-06;
            z-index: 1;

            &:last-child {
                background-color: $neu-07;
            }

            &:after {
                width: 32px;
                height: 32px;
                color: transparent
            }
        }

        @include sm {
            display: none;
        }
    }

    &__title {
        @include font-xl;
        z-index: 1;
    }

    &__subtitle {
        @include font-m;
        z-index: 1;
    }

}

.highlightSlider {
    height: 600px;

    @include sm {
        height: 480px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrapper {
        height: 100%;
        position: relative;
    }

    &__image {
        @include overlay;
        width: 100%;
        height: 100%;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        max-width: 800px;
        position: absolute;
        z-index: 1;
        text-align: center;
        color: white;
        padding-left: calc(5% + 48px);
        padding-right: calc(5% + 48px);

        @include sm {
            @include paddingSide;
        }
    }

    &__title {
        @include font-l;
    }

    &__description {
        @include font-m;
    }
}

.productSlider {
    @include spacingL;
    @include moduleHeading;
    background-color: $neu-02;

    .swiper-wrapper {
        padding-bottom: 24px;
    }

    .swiper-button-prev {
        left: -32px;
    }

    .swiper-button-next {
        right: -32px;
    }

    .swiper-pagination {
        display: none;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include sm {
            display: block;
        }
    }

    &__wrapper {
        @include wrapper;
        height: 100%;
        position: relative;
        margin: 0 auto;
        text-align: center;

    }

    &__sliderContainer {
        position: relative;
        padding: 0 40px;


        @include sm {
            padding: 0px;
            padding-bottom: 40px;
        }
    }

    &__slider {
        padding: 0 2px;
    }

    &__image {
        width: 100%;
        height: 150px;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;
    }

    &__productTitle {
        @include font-m;
    }

    &__productSubtitle {
        @include font-s;
    }

    &__link {
        @include transition2;
        opacity: 0;
        position: absolute;
        bottom: 24px;
        transform: translateY(20px);

        @include sm {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &__card {
        @include cardStyle1;
        //width: calc(25% - 40px);
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        //margin: 0 20px;

        @include md {
            //width: 33%;
        }

        @include sm {
            //margin: 0 16px;
            //width: 50%;

            &:first-child {
                //margin-left: 0px;
            }
        }

        @include xs {
            // margin: 0;
            //width: 100%;
        }

        &:hover {
            .productSlider {
                &__link {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

.contentTabs {
    @include spacingL;
    background-color: $neu-02;

    &__wrapper {
        @include wrapper;
        @include transition;
        display: flex;
        position: relative;

        @include sm {
            flex-direction: column;
        }
    }

    &__tabList {
        width: 50%;
        position: relative;

        @include sm {
            width: 100%;
            display: flex;
        }

        @include xs {
            margin-bottom: 40px;
            flex-direction: column;
        }
    }

    &__tabLink {
        @include transition;
        @include font-m;
        cursor: pointer;
        padding: 0 32px;
        height: 80px;
        display: flex;
        align-items: center;
        border-radius: $radius;
        border: 2px solid $neu-04;
        background-color: white;
        width: 80%;
        margin-bottom: 32px;
        opacity: 0.5;
        position: relative;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        @include sm {
            width: 100%;
            height: 64px;
            padding: 0 16px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        @include xs {
            margin-bottom: 8px;
        }

        &.active {
            opacity: 1;
            border: 2px solid $neu-06;

            &:before {
                opacity: 1;
                transform: translatex(0px);

                @include sm {
                    transform: rotate(90deg);
                }
            }

            &:hover {
                padding: 0 32px;

                @include sm {
                    padding: 0 16px;
                }
            }
        }

        &:hover {
            border: 2px solid $neu-06;
            padding: 0 40px;

            @include sm {
                padding: 0 16px;
            }
        }
    }

    &__content {
        @include transition;
        width: 50%;
        height: 0px;

        @include sm {
            width: 100%;
        }
    }

    &__tabContent {
        display: none;

        &.active {
            animation: enter 0.4s 0.2s ease backwards;
            display: block;

            @keyframes enter {
                0% {
                    opacity: 0;
                    transform: translateY(20px);
                }
            }

        }
    }

    &__download {
        @include wrapper;

        @include sm {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
    }
}

.ctaBlock {
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    &__wrapper {
        @include spacingL;
        width: 100%;
        position: relative;

    }

    &__bgImage {
        @include overlay;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        @include wrapper;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 1;
        margin: 0 auto;

    }

    &__title {
        @include font-l;
    }

    &__subtitle {
        @include font-m;
    }

    &__description {
        @include font-s;
    }

    &.dual {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @include xs {
            grid-template-columns: 1fr;
        }

        .ctaBlock {
            &__wrapper {
                padding-left: 5vw;
                padding-right: 5vw;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }


}

.contentMedia {
    @include spacingL;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    &__wrapper {
        @include wrapper;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;

        @include sm {
            flex-direction: column;
        }
    }

    &__image {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include sm {
                transform: translateX(-5vw);
            }
        }

        @include sm {
            width: calc(100% + 5vw);
        }
    }

    &__content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $neu-08;
        z-index: 1;

        @include sm {
            width: 100%;
        }
    }

    &__title {
        @include font-l;
    }

    &__subtitle {
        @include font-m;
    }

    &__description {
        @include font-s;
    }

    &.right {
        .contentMedia {
            &__wrapper {
                flex-direction: row-reverse;

                @include sm {
                    flex-direction: column;
                }
            }

            &__image {
                img {
                    @include sm {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    &.vertical {
        @include paddingSide;

        .contentMedia {
            &__wrapper {
                padding: 0;
                max-width: 1024px;
            }

            &__image {
                width: 40%;

                @include sm {
                    width: calc(100% + 5vw);
                }
            }

            &__content {
                width: 50%;

                @include sm {
                    width: 100%;
                }

            }
        }
    }
}