.mainNav {
    @include paddingSide;
    @include transition;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;

    &:before {
        @include transition;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        background-color: white;
        box-shadow: 0px 4px 20px rgba(black, 0.5);
        z-index: -1;
        opacity: 0;
    }

    &__logo {
        @include transition();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        @include sm {
            @include transition;
            transform: translateX(100%);
            height: 100vh;
            right: 0;
            top: 0;
            position: fixed;
            width: 100%;
            background-color: $neu-08;
            padding: 0 10%;
            justify-content: flex-end;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
        display: none;
        z-index: 1;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include sm {
            display: flex;
        }

        span {
            width: 100%;
            height: 2px;
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.2s ease;

            &:before,
            &:after {
                content: '';
                width: 32px;
                height: 100%;
                position: absolute;
                background-color: inherit;
                transition: inherit;
            }

            &:before {
                transform: translateY(-8px);
            }

            &:after {
                transform: translateY(8px);
            }
        }
    }

    &__links {
        color: white;

        @include sm {
            display: none;
        }
    }

    &__linkItem {
        margin-right: 64px;

        &:last-child {
            margin-right: 0px;
        }

        @include sm {
            margin-right: 0px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &.navSticky {
        height: 72px;

        &:before {
            opacity: 1;
            top: 0;
        }

        .mainNav {
            &__logo {
                transform: scale(0.8);
            }

            &__links {
                color: $neu-08;
            }

            &__icon {
                span {
                    background-color: $neu-08;
                }
            }
        }
    }

    &.navOpen {
        .mainNav {
            &__icon {
                span {
                    background-color: $neu-01;
                    width: 0;
                    transform: rotate(90deg);

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }

            &__wrapper {
                transform: translateX(0px);
                opacity: 1;
                visibility: visible;
            }

            &__links {
                display: flex;
                flex-direction: column;
                color: white;
            }
        }
    }

    &.navDark {
        .mainNav {
            &__links {
                color: $neu-08;
            }
        }
    }
}

.footer {
    background-color: black;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}