@import 'foundations/reset',
'foundations/breakpoints',
'foundations/colours',
'foundations/textstyles',
'foundations/styles',
'foundations/components',
'foundations/swiper',
'navigation',
'layout';

.showGrid {
    background-color: white;
    box-shadow: $shadow;
    border: 1px solid rgba(black, 0.2);
    padding: 8px;
    position: fixed;
    z-index: 5;
    border-radius: $radius;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.grid {
    @include paddingSide;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    user-select: none;

    &__wrapper {
        background-color: rgba(#720638, 0.2);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-right: 1px solid;
        border-color: #636363;
    }

    &__wrapper2 {
        max-width: 1024px;
        width: calc(100% - 10vw);
        height: 100%;
        background-color: rgba(#29458b, 0.15);
        position: absolute;
        top: 0;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #636363;

        @include xs {
            width: calc(100% - 48px);
        }
    }

    &__wrapper3 {
        max-width: $textMaxWidth;
        width: calc(100% - 10vw);
        height: 100%;
        position: absolute;
        top: 0;
        border-left: 1px dashed;
        border-right: 1px dashed;
        border-color: #5f5a6a;
        z-index: 3;

        @include xs {
            width: calc(100% - 48px);
        }
    }

    &__column {
        border-left: 1px solid;
        border-color: #636363;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &.show {
        display: flex;
    }
}

.spacing {
    height: 100px;
}