@import 'foundations/reset',
'foundations/breakpoints',
'foundations/colours',
'foundations/textstyles',
'foundations/styles',
'foundations/components',
'foundations/swiper',
'navigation',
'layout';

.showGrid,
.btnDs {
    background-color: white;
    box-shadow: $shadow;
    border: 1px solid rgba(black, 0.2);
    padding: 8px;
    position: fixed;
    z-index: 5;
    border-radius: $radius;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.grid {
    //@include paddingSide;
    position: fixed;
    z-index: 4;
    width: calc(100% - 10vw);
    left: 5vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: rgba(#720638, 0.2);

    &__wrapper {
        max-width: calc(1440px - 10vw);

        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-right: 1px solid;
        border-color: #636363;
    }

    &__wrapper2 {
        max-width: 1024px;
        width: calc(100% - 10vw);
        height: 100%;
        background-color: rgba(#29458b, 0.15);
        position: absolute;
        top: 0;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #636363;

        @include xs {
            width: calc(100% - 48px);
        }
    }

    &__wrapper3 {
        max-width: $textMaxWidth;
        width: calc(100% - 10vw);
        height: 100%;
        position: absolute;
        top: 0;
        border-left: 1px dashed;
        border-right: 1px dashed;
        border-color: #5f5a6a;
        z-index: 3;

        @include xs {
            width: calc(100% - 48px);
        }
    }

    &__column {
        border-left: 1px solid;
        border-color: #636363;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &.show {
        display: flex;
    }
}

.spacing {
    height: 100px;
}

.background {
    height: 50vh;
    min-height: 300px;
    background-color: $neu-07;
}

.wrapper {
    display: flex;

}

.categories {
    transition: width 0.4s ease;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: $neu-02;
    position: relative;
    padding: 0px 5%;

    // Layout

    &__closeIcon {
        display: none;
    }

    &__container {
        margin: 0px auto;
        padding: 40px 0;
        max-width: 900px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        align-content: center;

        @include sm {

            grid-gap: 24px;
        }

        @include xs {
            grid-template-columns: repeat(2, 1fr);
        }


    }

    &__card {
        @include cardStyle1;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        min-width: 168px;


    }

    &__icon {

        width: 48px;
        height: 48px;
        margin-bottom: 32px;
    }

    &__content {
        width: 100%;
        display: none;
        padding: 40px 5vw;
    }

    // When Collapsed and Closed

    &.collapse {
        width: 300px;
        margin: 0;
        padding: 40px 32px;

        @include sm {
            height: 100%;
        }

        @include sm {
            //grid-template-columns: minmax(200px, 1fr);
            width: 200px;
            padding: 0px;
        }

        .categories {
            &__closeIcon {
                @include transition;
                display: flex;
                position: absolute;
                width: 32px;
                height: 32px;
                right: 32px;
                top: 32px;
                cursor: pointer;
                opacity: 0.5;
                background-image: url("../assets/icons-black/icon-13.svg");

                &:hover {
                    opacity: 0.8;
                }

                @include sm {
                    right: 16px;
                    top: 16px;

                }
            }


            &__container {
                grid-template-columns: 1fr;
                grid-gap: 24px;

                @include sm {
                    grid-gap: 16px;
                    padding: 0 16px;
                    height: 100vh;
                    grid-template-rows: repeat(6, 48px);

                }
            }


            &__card {
                transition: all 0.4s ease, transforom 0.2s ease, border-radius 0s;
                flex-direction: row;
                align-items: center;
                padding: 16px;

                @include sm {
                    padding: 12px;
                }


                &.selected {
                    background-color: $neu-03;
                    box-shadow: none;

                    &:hover {
                        transform: none;
                    }

                }

                &:hover {
                    @include transition2;

                }
            }

            &__icon {
                margin-bottom: 0;
                margin-right: 24px;
                width: 32px;
                height: 32px;

                @include sm {
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                }


            }
        }

    }

    &.close {
        width: 100px;
        padding: 0px;
        grid-template-columns: 1fr;

        @include sm {
            width: 72px;

        }

        .categories {

            &__closeIcon {
                transform: rotate(180deg) translateX(-50%);
                right: 50%;
            }

            &__container {
                justify-items: center;
                padding: 0px;
            }

            &__card {
                width: 48px;
                height: 48px;
                min-width: 48px;
                padding: 0;
                box-shadow: none;
                border: 0;
                background-color: transparent;
                padding: 8px;
                opacity: 0.5;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease, border-radius 1s, background-color 1s ease;

                &:hover {
                    @include transition2;
                }

                &.selected {
                    background-color: transparent;
                    box-shadow: inset 0px 0px 0px 2px $neu-04;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }

            &__icon {
                margin-bottom: 0px;
                margin-right: 0px;

            }

            &__text {
                display: none;
            }
        }
    }

    // Content and Item
    &__modules {
        display: none;


        &.active {
            display: flex;
            flex-direction: column;
        }
    }

    &__modulesContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }

        @include xs {
            grid-template-columns: repeat(1, 1fr);
        }
    }


    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__image {}
}